@import '../../variable';

  .cart {

    &__title {
      font-weight: 600;
      font-size: 20px;
      color: $secondary-text;
    }

    &__list {
      margin-top: 15px;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      margin-bottom: 1rem;
    }
  }

  .payment {
    margin-top: 40px;
    background-color: $secondary-background;
    box-shadow: 0px 0px 20px 0px #0000001A;
    border-radius: 30px;
    padding: 20px 20px 0 20px;
    width: 22rem;
    height: 8rem;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 7rem;

    &__count {
      color: $tertiary-text;
      font-weight: 600;
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 15px;
    }

    &__confirmation {
      background-color: $primary-text;
      color: $secondary-background;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20rem;
      border-radius: 30px;
      padding: 20px 0 20px 0;
      box-shadow: 0px 0px 20px 0px #0000001A;
      font-weight: 600;
      font-size: 17px;
      cursor: pointer;
      transition: color 200ms linear;

      &:hover {
        color: $primary-text-highlight;
      }
    }
  }

@media (max-width: 1110px) { 
  .products-list {
    justify-content: center;
  }
}

@media (max-width: 670px) { 
  .cart {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // &__title {
    //   text-align: center;
    // }
  }

  .payment {
    margin-left: 0;
  }
}
