@import '../../variable';

  .cart {

    &__title {
      font-weight: 600;
      font-size: 20px;
      color: $secondary-text;
    }

    &__list {
      margin-top: 15px;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      margin-bottom: 1rem;
    }

    &__item {
      background-color: $secondary-background;
      box-shadow: 0px 0px 20px 0px #0000001A;
      border-radius: 30px;
      display: grid;
      grid-template-columns: 1fr 2fr 1fr;
      padding: 20px;
    }

    &__general {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    &__img {
      width: 100%;

      &--wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 140px;
        height: 150px;
      }
    }
    
    &__count {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1.5rem;
    }

    &__change {
      background-color: $secondary-text-highlight;
      border-radius: 50%;
      color: $secondary-background;
      width: 1.75rem;
      height: 1.75rem;
      font-size: 25px;
      font-weight: 500;

      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__num {
      font-weight: 600;
      font-size: 17px;
    }

    &__info {
      display: flex;
      flex-direction: column;
      // align-items: center;
      justify-content: center;
      margin-left: 1.5rem;
      gap: 0.5rem;
    }

    &__title {
      font-weight: 500;
      color: $secondary-text;
      font-size: 17px;
    }

    &__price {
      font-size: 15px;
      font-weight: 600;
      color: $secondary-text-mute;
    }

    &__result {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: end;
      padding-right: 10px;
    }

    &__svg {
      fill: $text-red;
    }

    &__money {
      color: $secondary-text;
      font-weight: 600;
      font-size: 15px;
    }
  }

  .payment {
    margin-top: 40px;
    background-color: $secondary-background;
    box-shadow: 0px 0px 20px 0px #0000001A;
    border-radius: 30px;
    // border-top-right-radius: 30px;
    // border-top-left-radius: 30px;
    padding: 20px 20px 0 20px;
    width: 20rem;
    height: 7rem;
    position: relative;
    // padding: 20px 0 20px 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__count {
      color: $tertiary-text;
      font-weight: 600;
      display: flex;
      justify-content: space-between;
      width: 100%;
      // height: 1rem;
      margin-bottom: 15px;
    }

    &__confirmation {
      background-color: $primary-text;
      color: $secondary-background;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20rem;
      border-radius: 30px;
      padding: 20px 0 20px 0;
      box-shadow: 0px 0px 20px 0px #0000001A;
      font-weight: 600;
      font-size: 17px;
      cursor: pointer;

      &:hover {
        color: $primary-text-highlight;
      }
    }
  }