$primary-background: #EAEAEA;
$secondary-background: #FFFFFF;

$primary-text: #101010;
$secondary-text: #1C1C27;
$tertiary-text: #000000;

$primary-text-highlight: #FFA542;
$secondary-text-highlight: #FFCE7F;
$text-mute: #838383;
$text-red: #DF6464;
$secondary-text-mute: #AAAAAA;